@media (max-width: 321px) {
    .journal__main-content {
        flex-direction: column;
        // flex-wrap: wrap;
    }

    .journal__sidebar {
        width: 100vw;
        height: 38vh;
    }

    .journal__entries {
        flex-direction: row;
    }

    .nothing__main-content {
        width: 100vw;
    }

    .notes__main-content {
        margin-top: 10px;
    }
}

@media (max-width: 376px) {
    .journal__main-content {
        flex-direction: column;
        // flex-wrap: wrap;
    }

    .journal__sidebar {
        width: 100vw;
        height: 48vh;
    }

    .journal__new-entry {
        font-size: 10px;
    }

    .journal__entries {
        flex-direction: row;
    }

    .nothing__main-content {
        width: 100vw;
    }

    .notes__content {
        height: auto;
    }
}

@media (max-width: 426px) {
    .journal__main-content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .journal__sidebar {
        width: 100vw;
        height: 48vh;
    }

    .journal__new-entry {
        font-size: 10px;
    }

    .journal__entries {
        flex-direction: row;
    }

    .nothing__main-content {
        width: 100vw;
    }

    .notes__textarea {
        // padding: 20px;
        flex: 3 3 auto;
    }

    // .notes__image img {
    // }
}